<h1>Login</h1>

<%= form_for @user do |f| %>


    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :email %>
    </div>

    <div class="actions"><%= f.submit "Login" %></div>
<% end %>