<div class="dashboardWrapper">
    <h1>Providers</h1>
<ul>
    <li>
        <div class="content">
            <div class="aws"></div>
            <div class="boxHeader">
                <h4>Rackspace Webonise</h4>
            </div>
            <ul>
                <li>
                    <span>No of instances :</span>
                    <span class="numbers">5</span>
                </li>
                <li>
                    <span>Active instances :</span>
                    <span class="numbers">5</span>
                </li>
                <li>
                    <span>Stopped instances :</span>
                    <span class="numbers">5</span>
                </li>
            </ul>
            <div class="iconsWrapper">
                <a href="" class="viewIcon"></a>
                <a href="" class="editIcon"></a>
                <a href="" class="deleteIcon"></a>
            </div>
            <div class="bottomBox"></div>
        </div>

    </li>
    <li>
        <div class="content">
            <div class="rackRibbon"></div>
            <div class="boxHeader">
                <h4>Rackspace Webonise</h4>
            </div>
            <ul>
                <li>
                    <span>No of instances :</span>
                    <span class="numbers">5</span>
                </li>
                <li>
                    <span>Active instances :</span>
                    <span class="numbers">5</span>
                </li>
                <li>
                    <span>Stopped instances :</span>
                    <span class="numbers">5</span>
                </li>
            </ul>
            <div class="iconsWrapper">
                <a href="" class="viewIcon"></a>
                <a href="" class="editIcon"></a>
                <a href="" class="deleteIcon"></a>
            </div>
            <div class="bottomBox"></div>
        </div>

    </li>
    <li>
        <div class="content">
            <div class="rackRibbon"></div>
            <div class="boxHeader">
                <h4>Rackspace Webonise</h4>
            </div>
            <ul>
                <li>
                    <span>No of instances :</span>
                    <span class="numbers">5</span>
                </li>
                <li>
                    <span>Active instances :</span>
                    <span class="numbers">5</span>
                </li>
                <li>
                    <span>Stopped instances :</span>
                    <span class="numbers">5</span>
                </li>
            </ul>
            <div class="iconsWrapper">
                <a href="" class="viewIcon"></a>
                <a href="" class="editIcon"></a>
                <a href="" class="deleteIcon"></a>
            </div>
            <div class="bottomBox"></div>
        </div>

    </li>
    <li>
        <div class="content">
            <div class="rackRibbon"></div>
            <div class="boxHeader">
                <h4>Rackspace Webonise</h4>
            </div>
            <ul>
                <li>
                    <span>No of instances :</span>
                    <span class="numbers">5</span>
                </li>
                <li>
                    <span>Active instances :</span>
                    <span class="numbers">5</span>
                </li>
                <li>
                    <span>Stopped instances :</span>
                    <span class="numbers">5</span>
                </li>
            </ul>
            <div class="iconsWrapper">
                <a href="" class="viewIcon"></a>
                <a href="" class="editIcon"></a>
                <a href="" class="deleteIcon"></a>
            </div>
            <div class="bottomBox"></div>
        </div>

    </li>
    <li>
        <div class="content">
            <div class="rackRibbon"></div>
            <div class="boxHeader">
                <h4>Rackspace Webonise</h4>
            </div>
            <ul>
                <li>
                    <span>No of instances :</span>
                    <span class="numbers">5</span>
                </li>
                <li>
                    <span>Active instances :</span>
                    <span class="numbers">5</span>
                </li>
                <li>
                    <span>Stopped instances :</span>
                    <span class="numbers">5</span>
                </li>
            </ul>
            <div class="iconsWrapper">
                <a href="" class="viewIcon"></a>
                <a href="" class="editIcon"></a>
                <a href="" class="deleteIcon"></a>
            </div>
            <div class="bottomBox"></div>
        </div>

    </li>
    <li>
        <div class="content">
            <div class="rackRibbon"></div>
            <div class="boxHeader">
                <h4>Rackspace Webonise</h4>
            </div>
            <ul>
                <li>
                    <span>No of instances :</span>
                    <span class="numbers">5</span>
                </li>
                <li>
                    <span>Active instances :</span>
                    <span class="numbers">5</span>
                </li>
                <li>
                    <span>Stopped instances :</span>
                    <span class="numbers">5</span>
                </li>
            </ul>
            <div class="iconsWrapper">
                <a href="" class="viewIcon"></a>
                <a href="" class="editIcon"></a>
                <a href="" class="deleteIcon"></a>
            </div>
            <div class="bottomBox"></div>
        </div>

    </li>
</ul>
</div>