<div class="planeWrapper">
    <div class="planeImg"></div>
    <div class="contentBg">
        <h3>You have no cloud registered</h3>
        <h3>Let&apos;s link one now !! </h3>
        <a href="" class="customBtn">Register your cloud</a>

    </div>
</div>