<div class="contentBg">
    <h3>Sign in as Guest</h3>
    <form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="inputEmail">Enter your name :</label>
        <div class="controls">
            <input type="text" id="inputEmail" placeholder="John">
        </div>
    </div>
        <div class="control-group">
            <label class="control-label" for="inputEmail">Enter your email :</label>
            <div class="controls">
                <input type="text" id="inputEmail" placeholder="john@yopmail.com">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a href="">LOGIN</a>
            </div>
        </div>
    </form>
</div>