html {
    height: 100%;
}
.contentBg a:hover {
    background: #0061b1;
    text-decoration: none;
    color: #ffffff;


}
body {
    background: url("bodyBg.jpg") repeat-x;
    height: 100%;
}
.bodyWrapper {
    min-height: 100%;
    position: relative;
}
.navbar-inner {
    background: none;
    border: none;
}
.outer-div {
    padding-bottom: 80px;
}
.brand {
    background: url("logo.png") no-repeat center;
    width: 120px;
    height: 60px;
}
.navbar .nav>li>a{
    background: url("cloud.png") no-repeat center;
    width: 120px;
    height: 60px;
    line-height: 70px;
    text-align: center;
    color: #000
}
.contentBg {
    background: #d4ebfe;
    text-align: center;
    width: 500px;
    height: 260px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    margin: 120px auto 0;
    padding: 10px 0;
}
.form-horizontal {
    text-align: left;
    width: 420px;
    margin: 0 auto;
}
.form-horizontal label {
    font-size: 18px;
    line-height: 30px;
}
.form-horizontal input[type ="text"] {
    width: 190px;
    border-radius: 50px;
    height: 40px;
    border: none;
    padding: 0 10px 0 20px;
}
.contentBg .form-horizontal a {
    background: #4077a4;
    border: 1px solid #025aa2;
    padding: 7px 16px;
    border-radius: 5px;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    width: 50px;
    text-align: center;
}
footer {
    background: #4077a4;
    color: #ffffff;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom :0;
    text-align: center;
    box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.2);
    line-height: 50px;
}
.planeImg {
    background: url("planeBanner.png") no-repeat center right;
    width: 300px;
    height: 180px;
    float: left;
    margin-top: 47px;
    z-index: 100;
    position: relative;
}
.planeWrapper {
    margin-top: 120px;
}
.planeWrapper .contentBg {
    background: #d4ebfe;
    text-align: center;
    width: 500px;
    height: 180px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    margin: 40px auto 0;
    padding: 10px 0;
    float: left;
    margin-left: -33px;
    position: relative;
}
.customBtn {
    background: #4077a4;
    border: 1px solid #025aa2;
    padding: 7px 16px;
    border-radius: 5px;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}
.planeWrapper .customBtn {
    width: 180px;
    margin: 0 auto;
}